@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); /*appelle de la police raleway dasn google font*/

body {
  margin: 0 0 0 0;
}
p {
  font-size: 1.2em;
}
h1 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #000000;
}
.pournav {
  display: block;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.headerhg {
  display: flex;
  flex-direction: row;
  flex: 30%;
}

.inscrirephone {
  flex: 1;
  border: 0;
  background-color: white;
  color: #0065fc;
}
.inscrirephone:hover {
  background-color: white;
  width: 100%;
  text-align: end;
  color: #0065fc;
}
.boudebut {
  width: 100%;
  height: 100%;
  text-align: end;
  border: 0;
  background-color: white;
}

.boudebut:link,
.boudebut:visited,
.boudebut:hover,
.boudebut:active {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 3px solid #0065fc; /*pour quand j'ai active en mode telephone pour efface les contour*/
  background-color: white;
}

.boutonbar1,
.boutonbar:hover p {
  color: #0065fc;
}

.boutonbar:hover {
  border-top: solid 3px #0065fc;
  width: 33%;
  text-align: center;
  color: #0065fc;
}
.boutonbar1:hover {
  border-top: solid 3px #0065fc;
  width: 33%;
  text-align: center;
}

.boutonbar1 {
  display: block;
  width: 20%;
  text-align: center;
}

.boutonbar {
  display: block;
  width: 40%;
  text-align: center;
}

* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 0.95em;
} /*demande de la police Raleway en priorite*/

.logo {
  height: 40px;
}

#bloklogo {
  display: flex;
  flex: 1;
}

#headerhd {
  display: flex;
  flex-direction: row;
  flex: 60%;
}
nav {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  height: 100%;
  flex: 33;
}
.barnav {
  display: flex;
  flex-direction: row;
  display: block;
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

header {
  padding: 0em 3em 1em 3em;
}

#haut_header {
  flex-direction: row;
  display: flex;
  width: 100%;
  margin: 0;
}

#bas_header {
  display: flex;
  flex-direction: column;
}

#block_page {
  width: 100%;
  margin: 0;
  bottom: 0;
}

/*debut du bloc de recherche*/
.block_recherche {
  display: flex;
  height: auto;
  width: auto;
}
.formulairecherche {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0;
  margin: 10px 0;
  border-radius: 1em 1em 1em 1em;
}
.place_logo {
  background-color: #f2f2f2;
  padding: 1em 1.25em;
  border-radius: 1em 0 0 1em;
  text-align: center;
}
.formicone {
  margin-left: 0.1em;
  font-size: 1.5em;
}
fa-map-marker-alt {
  font-size: 5em;
}
fa-map-marker-alt . {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 8em 2.5em;
  box-sizing: border-box;
  width: 30em;
  font-size: 1em;
  font-weight: bold;
}
.formilleu::placeholder {
  color: black;
  font-size: 1.3em;
  padding-left: 2em;
  font-weight: bold;
}

.boutonrecherche {
  background-color: #0065fc;
  width: 8em;
  padding: 0.8em;
  font-weight: bold;

  border-radius: 0 1em 1em 0;
  font-size: 1.4em;
  cursor: pointer;
  border: 0;
}

.formfin {
  margin: auto;
  color: white;
}
.arrondis {
  display: flex;
  border: solid 3px #f2f2f2;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  align-items: center;
}
.fbouton p {
  font-weight: bold;

  text-align: center;
  font-size: 1.25em;
}

.tfiltres /*debut bouton filtres*/ {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.filtresmedia {
  display: flex;
  flex-direction: row;
}
.tfiltres p {
  font-weight: bolder;
}

.filtres {
  padding: 20px;
  border-radius: 50%;
  background-color: #deebff;
}

.fbouton {
  border: 3px solid #f2f2f2;
  display: flex;
  flex-direction: row;
  margin: 1px;
  border-radius: 50px;
  height: 50px;
  margin: 0 1em 0 1em;
  cursor: pointer;
}
.fbouton:hover {
  border: 3px solid #f2f2f2;
  box-shadow: 3px 3px 3px #f2f2f2;
  display: flex;
  flex-direction: row;
  margin: 1px;
  border-radius: 50px;
  height: 50px;
  margin: 0 1em 0 1em;
  cursor: pointer;
}

.fbouton:hover .filtres {
  background-color: #0065fc;
}

.fbouton:hover .fa-money-bill-wave {
  background-color: #0065fc;
  color: white;
}
.fbouton:hover .fa-child {
  background-color: #0065fc;
  color: white;
}

.fbouton:hover .fa-heart {
  background-color: #0065fc;
  color: white;
}

.fbouton:hover .fa-dog {
  background-color: #0065fc;
  color: white;
}

.pfiltre {
  text-align: center;
  margin: 0 1em 0 1em;
  display: flex;
  text-align: center;
}

.fa-money-bill-wave /*pour maitre en bleu les icones de https://fontawesome.com/ */
{
  color: #0065fc;
  font-size: 1.6em;
}
.fa-child {
  color: #0065fc;
  font-size: 1.6em;
}
.fa-heart {
  color: #0065fc;
  font-size: 1.6em;
}
.fa-dog {
  color: #0065fc;
  font-size: 1.6em;
} /*fin bouton filtres*/

#nombre_logement {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  padding-top: 1em;
  align-items: center;
}
.fa-info {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  margin: auto;
  width: 50%;
  height: 50%;
  color: #0065fc;
}
#nombre_logement p {
  font-size: 1.5em;
  margin: 10px;
}
.en_gras {
  font-weight: bold;
}
#touthebergement {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 95%;
  padding: 1em 3em 2em 2em;
  justify-content: space-between;
  margin: auto;
}
.encore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 18%;
  width: 100%;
}
.encore p {
  font-weight: bold;
  padding-left: 2em;
  font-size: 1.5em;
}

.hebergemenent {
  width: 73%;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.hebergemenent h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-left: 1.3em;
}
.tout_her {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  height: 98%;
}
.ligneherbergement {
  display: flex;
  width: 98%;
  height: 40%;

  flex-direction: row;
  justify-content: space-around;
}

.hotel {
  border-radius: 10px;
  margin: 3px 3px 0 3px;
  width: 29%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.hotel:hover {
  box-shadow: 3px 3px 3px #0065fc;
}
aside {
  width: 24%;
  background-color: #f2f2f2;
  border-radius: 25px;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
}

.populairet {
  display: flex;
  display: inline-block;
  border-radius: 10px 10px 0 0;
  flex-direction: row;
  border-radius: 25px 25px 0 0;
  background-color: #f2f2f2;
}
.populaireh {
  display: flex;
  display: inline-block;
  padding-left: 1em;
  width: 84%;
}
.populaireh h2 {
  font-size: 2em;
}

.diagrame {
  display: flex;
  display: inline-block;
  width: 8%;
  margin-right: 0;
}
.fa-chart-line {
  display: flex;
  display: inline-block;
  font-size: 2em;
  justify-content: flex-end;
}

.populaires {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 10px;
  border-radius: 25px;
  height: 30%;
  background-color: #ffffff;
}
.poputexetoi {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  height: 90%;
  width: 90%;
}
.poputexetoi {
  flex: 1;
}
.etoiles2 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
}

.populaires:hover {
  box-shadow: 3px 3px 3px #0065fc;
}
.bleufonce {
  color: #0065fc;
}
.gris {
  color: #f2f2f2;
}
.fa-star {
  font-size: 1.2em;
  padding-bottom: 1em;
}

#activites {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: white;
  padding: 2em 3em 3em 3em;
}
#a h2 {
  font-weight: bold;
  font-size: 1.5em;
}
#activites h3 {
  height: 13%;
  font-weight: bold;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}

.tout_acti {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
}
.acti_c1 {
  display: flex;
  flex-direction: column;
  width: 24%;
  margin: 20px 20px 20px 0px;
  height: 96%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px #f2f2f2;
}
.acti_c2 {
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 96%;
}

.acti_c2_l1 {
  border-radius: 20px 20px 20px 20px;
  margin: 0 0 10px 0;
  height: 58%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px #f2f2f2;
}
.acti_c2_l2 {
  border-radius: 20px 20px 20px 20px;
  margin: 10px 0 0 0;
  height: 38%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px #f2f2f2;
}
.acti_c3 {
  display: flex;
  flex-direction: column;
  width: 24%;
  border-radius: 20px 20px 20px 20px;
  height: 96%;
  margin: 20px 10px 10px 10px;
  box-shadow: 3px 3px 3px #f2f2f2;
}

.acti_c4 {
  margin: 20px 0px 0 20px;
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 96%;
}

.acti_c4_l1 {
  border-radius: 20px 20px 20px 20px;
  margin: 0 0 10px 0;
  height: 36%;
  width: 100%;
  box-shadow: 3px 3px 3px #f2f2f2;
}
.acti_c4_l2 {
  border-radius: 20px 20px 20px 20px;
  margin: 0 0 0 0;
  height: 60%;
  width: 100%;
  box-shadow: 3px 3px 3px #f2f2f2;
}
.acti_c1:hover,
.acti_c2_l1:hover,
.acti_c2_l2:hover,
.acti_c3:hover,
.acti_c4_l1:hover,
.acti_c4_l2:hover {
  box-shadow: 3px 3px 3px #0065fc;
}
footer {
  padding: 0 0 0 0;
  background-color: #f2f2f2;
  height: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 2.5em;
  padding-left: 4em;
  padding: 3em 3em 3em 3em;
}
#a_propos {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: auto;
}
#herber_footer {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: auto;
}
footer a {
  font-size: 1.2em;
}

#assistance {
  width: 39%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.hotel img {
  margin: 5px;
  width: auto;
  height: 60%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.hotel2 {
  height: 37%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  align-content: space-around;
}
.hotel2 h3 {
  font-size: 1.6em;
  font-weight: 900;
  padding-left: 1em;
}
.hotel2 p {
  font-size: 1.4em;
  padding-left: 1em;
}
.hotelint {
  height: 32%;
  padding-left: 1em;
}
.hotelint2 {
  height: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1em;
}

.populaires img {
  margin: 5px;
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.etoiles {
  display: flex;
  flex-direction: row;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-bottom: 0;
}
section h1,
section p,
section h2 {
  padding-left: 10px;
}

.populaires h1,
.populaires p,
.populaires h2 {
  padding-left: 10px;
}
.acti_c1 img,
.acti_c3 img {
  margin: 0;
  width: auto;
  height: 85%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.acti_c2_l1 img {
  margin: 0;
  width: auto;
  height: 80%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.acti_c2_l2 img {
  margin: 0;
  width: auto;
  height: 60%;

  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.acti_c4_l1 img {
  margin: 0;
  width: 100%;
  height: 70%;
  min-height: 60%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.acti_c4_l2 img {
  margin: 0;
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
#activites p,
#activites h1 {
  padding-left: 10px;
}

/*media querry pour les ecran de plus de 1024px..........................................................................................*/
@media all and (min-width: 1025px) {
  .formfin {
    display: block;
  }

  .disparetion {
    display: none;
  }
  .boudebut {
    display: none;
  }
  .alaligne {
    display: none;
  }
}
/*media query de 481px a 1024px.............................................................................................................*/
@media all and (min-width: 481px) and (max-width: 1024px) {
  .alaligne {
    display: none;
  }
  .disparetion {
    display: none;
  }

  .block_recherche {
    display: flex;
    height: auto;
    justify-content: center;
  }

  .formulairecherche {
    display: flex;
    flex-direction: row;
    border-radius: 1em 1em 1em 1em;
  }

  .formsous {
    display: block;
  }

  .boutonbar1 {
    display: none;
  }
  #haut_header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  #bloklogo img {
    margin-left: 6px;
  }
  .boudebut {
    margin-right: 6px;
    font-weight: bold;
    color: #0065fc;
    font-size: 1.5em;
  }

  .boutonbar:hover {
    border-bottom: solid 3px #0065fc;
    border-top: 0;
    width: 50%;
    text-align: center;
    color: #0065fc;
  }
  .boutonbar:hover p {
    color: #0065fc;
  }

  .boutonbar {
    display: block;
    width: 50%;
    text-align: center;
  }
  .slogan h1 {
    text-align: center;
    font-size: 1.8em;
  }
  .slogan p {
    text-align: center;
    font-size: 1.5em;
  }

  .place_logo {
    background-color: #f2f2f2;
    padding: 1em 1.25em;
    border-radius: 1em 0 0 1em;
    text-align: center;
  }

  .fa-map-marker-alt {
    font-size: 2em;
  }

  .boutonrecherche {
    background-color: #0065fc;
    width: 12em;
    font-weight: bold;

    border-radius: 0 1em 1em 0;
    font-size: 1em;
    cursor: pointer;
    border: 0;
  }

  .fa-search {
    color: white; /*pour blanchir icone de recherche*/
  }

  .fbouton {
    border: 3px solid #f2f2f2;
    border-radius: 50px;
    height: 50px;
    white-space: normal;
    cursor: pointer;
    margin: 2px;
    padding: 0;
    max-width: 100%;
  }

  .fbouton p {
    font-weight: bold;

    text-align: center;
    font-size: 1.15em;
  }

  .tfiltres/*debut bouton filtres*/ {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .filtresmedia {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 1em 0 1em;
  }

  .fa-info {
    border: 3px solid #f2f2f2;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    margin: auto;
    width: 70%;
    height: 40%;
    color: #0065fc;
  }
  .arrondis {
    display: flex;
    border: solid 1px #f2f2f2;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    align-items: center;
  }
  #nombre_logement p {
    font-size: 1.4em;
    margin: 10px;
  }
  #touthebergement {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
  }

  .hebergemenent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 25px;
  }
  .ligneherbergement {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 48%;
  }
  .hotel2 h3 {
    font-size: 3.2em;
    font-weight: 900;
    padding-left: 1em;
  }
  .hotel2 p {
    font-size: 2.8em;
    padding-left: 1em;
  }
  .encore {
    height: 3%;
  }

  .encore p {
    font-weight: bold;
    padding-left: 2em;
    font-size: 3em;
  }

  aside {
    width: 100%;
    height: 32%;
    background-color: #f2f2f2;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    border-radius: 0 0;
  }
  .populaireh h2 {
    font-size: 4em;
  }
  .populaires {
    display: flex;
    flex-direction: row;
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
    height: 400px;
    background-color: #ffffff;
  }
  .populaires p,
  .populaires h2 {
    padding-left: 10px;
    font-size: 2.4em;
  }

  .tout_her {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4000px;
  }
  .hotel {
    border-radius: 25px;
    padding: 3px 3px 3px 3px;
    width: 90%;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: solid 2px #f2f2f2;
  }
  .populairet {
    display: flex;
    display: inline-block;
    flex-direction: row;
    background-color: #f2f2f2;
  }

  #activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-height: 3400px;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  #activites h2,
  #activites h3 {
    font-size: 2.4em;
  }

  .tout_acti {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .acti_c1 {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 86%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 3px #f2f2f2;
    border: solid 2px #f2f2f2;
    margin: auto;
  }

  .acti_c2 {
    display: flex;
    flex-direction: column;
    width: 86%;

    margin: auto;
  }
  .acti_c2_l1 {
    border-radius: 20px 20px 20px 20px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px #f2f2f2;
    padding: 0em 0;
    border: solid 2px #f2f2f2;
    margin-top: 2em;
  }
  .acti_c2_l2 {
    border-radius: 20px 20px 20px 20px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px #f2f2f2;
    padding: 0 0;
    border: solid 2px #f2f2f2;
    margin-bottom: 2em;
  }

  .acti_c3 {
    display: flex;
    flex-direction: column;
    width: 86%;
    border-radius: 20px 20px 20px 20px;
    height: 500px;
    box-shadow: 3px 3px 3px #f2f2f2;
    border: #f2f2f2 2px solid;
    margin: auto;
  }

  .acti_c4 {
    display: flex;
    flex-direction: column;
    width: 86%;

    margin: auto;
  }

  .acti_c4_l1 {
    border-radius: 20px 20px 20px 20px;
    height: 500px;
    width: 100%;
    box-shadow: 3px 3px 3px #f2f2f2;
    border: #f2f2f2 2px solid;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .acti_c4_l2 {
    border-radius: 20px 20px 20px 20px;
    margin: 0 0 0 0;
    height: 500px;
    width: 100%;
    box-shadow: 3px 3px 3px #f2f2f2;
    border: #f2f2f2 2px solid;
    margin-bottom: 4em;
  }

  footer {
    margin: 0 0 0 0;
    background-color: #f2f2f2;
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2em 2em;
  }
  #a_propos {
    line-height: 2.5em;
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 2.5em;
    padding-left: 3em;
    padding-top: 3em;
  }
  #herber_footer {
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 2.5em;
    padding-left: 3em;
  }
  #assistance {
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 0.5em;
    padding-left: 3em;
  }
  footer a {
    font-size: 2em;
  }

  .fa-star {
    font-size: 2.4em;
    padding-bottom: 1em;
  }
}
/* media query a jusqu'a 480 px ...............................................................................................*/
@media all and (max-width: 480px) {
  .block_recherche {
    display: flex;
    height: auto;
    justify-content: center;
  }

  .formulairecherche {
    display: flex;
    flex-direction: row;
    border-radius: 1em 1em 1em 1em;
  }

  .formilleu {
    flex: 1;
  }
  .formfin {
    display: none;
  }
  .formsous {
    display: block;
  }

  .boutonbar1 {
    display: none;
  }
  #haut_header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  #bloklogo img {
    margin-left: 6px;
  }
  .boudebut {
    margin-right: 6px;
    font-weight: bold;
    color: #0065fc;
    font-size: 1.5em;
  }

  .boutonbar:hover {
    border-bottom: solid 3px #0065fc;
    border-top: 0;
    width: 50%;
    text-align: center;
    color: #0065fc;
  }
  .boutonbar:hover p {
    color: #0065fc;
  }

  .boutonbar {
    display: block;
    width: 50%;
    text-align: center;
  }
  .slogan h1 {
    text-align: center;
    font-size: 1.8em;
  }
  .slogan p {
    text-align: center;
    font-size: 1.5em;
  }

  .place_logo {
    background-color: #f2f2f2;
    padding: 1em 1.25em;
    border-radius: 1em 0 0 1em;
    text-align: center;
  }
  .fa-map-marker-alt {
    font-size: 2em;
  }
  .boutonrecherche {
    background-color: #0065fc;
    font-weight: bold;
    border-radius: 1em 1em 1em 1em;
    padding: 1.25em 1.25em;
    font-size: 1em;
    cursor: pointer;
    border: 0;
    width: 4em;
  }

  .fa-search {
    color: white; /*pour blanchir icone de recherche*/
  }

  .fbouton {
    border: 3px solid #f2f2f2;
    border-radius: 50px;
    height: 50px;
    white-space: normal;
    cursor: pointer;
    margin: 2px;
    padding: 0;
    max-width: 100%;
  }

  .fbouton p {
    font-weight: bold;

    text-align: center;
    font-size: 1.15em;
  }

  .tfiltres/*debut bouton filtres*/ {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .filtresmedia {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 1em 0 1em;
  }

  .fa-info {
    border: 3px solid #f2f2f2;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    margin: auto;
    width: 70%;
    height: 40%;
    color: #0065fc;
  }
  .arrondis {
    display: flex;
    border: solid 1px #f2f2f2;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    align-items: center;
  }
  #nombre_logement p {
    font-size: 1.4em;
    margin: 10px;
  }
  #touthebergement {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
  }

  .hebergemenent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 25px;
  }
  .ligneherbergement {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 48%;
  }
  .encore {
    height: 3%;
  }
  .encore p {
    font-weight: bold;
    padding-left: 0.5em;
    font-size: 1.7em;
  }

  aside {
    width: 100%;
    height: 32%;
    background-color: #f2f2f2;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    border-radius: 0 0;
  }
  .populaires {
    display: flex;
    flex-direction: row;
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
    height: 200px;
    background-color: #ffffff;
  }

  .tout_her {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2000px;
  }
  .hotel {
    border-radius: 25px;
    padding: 3px 3px 3px 3px;
    width: 90%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: solid 2px #f2f2f2;
  }
  .populairet {
    display: flex;
    display: inline-block;
    flex-direction: row;
    background-color: #f2f2f2;
  }

  #activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    max-height: 2100px;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .tout_acti {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .acti_c1 {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 86%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 3px #f2f2f2;
    border: solid 2px #f2f2f2;
    margin: auto;
  }

  .acti_c2 {
    display: flex;
    flex-direction: column;
    width: 86%;

    margin: auto;
  }
  .acti_c2_l1 {
    border-radius: 20px 20px 20px 20px;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px #f2f2f2;
    padding: 0em 0;
    border: solid 2px #f2f2f2;
    margin-top: 2em;
  }
  .acti_c2_l2 {
    border-radius: 20px 20px 20px 20px;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px #f2f2f2;
    padding: 0 0;
    border: solid 2px #f2f2f2;
    margin-bottom: 2em;
  }

  .acti_c3 {
    display: flex;
    flex-direction: column;
    width: 86%;
    border-radius: 20px 20px 20px 20px;
    height: 250px;
    box-shadow: 3px 3px 3px #f2f2f2;
    border: #f2f2f2 2px solid;
    margin: auto;
  }

  .acti_c4 {
    display: flex;
    flex-direction: column;
    width: 86%;

    margin: auto;
  }

  .acti_c4_l1 {
    border-radius: 20px 20px 20px 20px;
    height: 250px;
    width: 100%;
    box-shadow: 3px 3px 3px #f2f2f2;
    border: #f2f2f2 2px solid;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .acti_c4_l2 {
    border-radius: 20px 20px 20px 20px;
    margin: 0 0 0 0;
    height: 250px;
    width: 100%;
    box-shadow: 3px 3px 3px #f2f2f2;
    border: #f2f2f2 2px solid;
    margin-bottom: 4em;
  }

  footer {
    margin: 0 0 0 0;
    background-color: #f2f2f2;
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2em 2em;
  }
  #a_propos {
    line-height: 2.5em;
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 2.5em;
    padding-left: 3em;
    padding-top: 3em;
  }
  #herber_footer {
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 2.5em;
    padding-left: 3em;
  }
  #assistance {
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 0.5em;
    padding-left: 3em;
  }
}
