

@font-face {
    font-family: 'ralewaythin';
    src: url('police_raleway/raleway-variablefont_wght-webfont.eot');
    src: url('police_raleway/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('police_raleway/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('police_raleway/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('police_raleway/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('police_raleway/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}


p , h1 ,h2 , 
{
    font-family:ralewaythin,Arial, Helvetica, sans-serif ;
}

#block_page
{
    
        width: 900px;
        margin: auto;
        background-color: white;
}


#block_recherche
{
display:flex;
border: 3px solid #F2F2F2;
border-radius: 10px;
width: 250px ;
height: 20px ;
margin: 0;
padding: 0;
border: 0;

overflow: hidden;
font-size: 1em;



}

#icones_recherche
{

    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    border: 0;
}

#recherche_ville
{
    
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0.1em;
}

#mot_recherche
{
    background-color: #0065FC;
    color:white;
  
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 0.4em;

    
    
}

form {
    margin: 0;
}