

@font-face {
    font-family: 'ralewaythin';
    src: url('police_raleway/raleway-variablefont_wght-webfont.eot');
    src: url('police_raleway/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('police_raleway/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('police_raleway/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('police_raleway/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('police_raleway/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}


p , h1 ,h2 , 
{
    font-family:ralewaythin,Arial, Helvetica, sans-serif ;

}


img {
	max-width: 20%;
	height: auto;
}

#haut_header
{
    display:flex;
    flex-direction:row;

}

#block_page
{
    
        width: 900px;
        margin: auto;
        background-color: white;
}


#block_recherche
{
display:flex;
border: 3px solid #F2F2F2;
border-radius: 20px;
width: 250px ;
height: 30px ;
margin: 0;
padding: 3px;
border: 0;

overflow: hidden;
font-size: 1em;



}

#icones_recherche
{

    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    border: 0;
}

#recherche_ville
{
    
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0.1em;
    
}

#mot_recherche
{
    background-color: #0065FC;
    color:white;
  
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 0.4em;

    
    
}

form {
    margin: 0;
    border-width: 0px
}

#tfiltres /*debut bouton filtres*/
{
    display:flex;
    flex-direction:row;

}

.filtres
{
padding:20px;
border-radius: 50px;
background-color: #DEEBFF;
margin:auto;
}

.fbouton
{
    border: 3px solid #F2F2F2;
    display:flex;
    flex-direction:row;
    margin:2px;
    border-radius: 50px;
}

.fa-money-bill-wave /*pour maitre en bleu les icones de https://fontawesome.com/ */
{
    color:#0065FC;
    
}
.fa-child
{
    color:#0065FC;
}
.fa-heart
{
    color:#0065FC;
}
.fa-dog
{
    color:#0065FC;
}/*fin bouton filtres*/

#nombre_logement
{
    display:flex;
    flex-direction:row;

}
.fa-info
{
    border: 3px solid #F2F2F2;
    padding:5px;
    display:flex;
    flex-direction:row;
    border-radius: 50%;
    margin:auto;
    width:50%;
    height:50%;
}
#nombre_logement p
{
    font-size: 0.20em;
    margin: 10px;
}

.en_gras
{
    font-weight: bold;
}
#herbergement
{
    display:flex;
    flex-direction:row;
    height: 500px;
    
    
}
article
{
    flex: 75;
    background-color: #DEEBFF;
    margin: 10px 10px 10px 0;
    border-radius: 20px;
    height: 350px;
    display:flex;
    flex-direction:column;
    border:3px solid black;
}
#tout_her
{
    border:3px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
.hotel
{
    width:29%;
    margin:10px 10px 10px 10px;
    border:3px solid red;
    border-radius: 10px;
}
aside
{
    flex:25;
    background-color: #DEEBFF;
    border-radius: 20px;
    margin: 10px 0px 10px 10px;
    display:flex;
    flex-direction:column;
    border:3px solid black;
}
.populaires
{
    margin:10px 10px 10px 10px;
    border:3px solid red;
    border-radius: 10px;  
}

#activites
{
    display:flex;
    flex-direction:column;
    border:3px solid purple;
}
#tout_acti
{
    display:flex;
    flex-direction:row;
    border:3px solid yellow;
 
}
#acti_c1
{
    display:flex;
    flex-direction:column;
    border:3px solid rgb(255, 0, 34);
    width:23%;
    margin:5px;
    border-radius: 10px 10px 0 0 ; 
}
#acti_c2
{
    display:flex;
    flex-direction:column;
    border:3px solid blue;
    width:23%;
    margin:5px;
}
#acti_c2_l1
{
    border-radius: 10px 10px 0 0 ; 
    border:3px solid rgb(34, 30, 30);
}
#acti_c2_l2
{
    border-radius: 10px 10px 0 0 ; 
    border:3px solid rgb(194, 34, 34);   
}
#acti_c3
{
    display:flex;
    flex-direction:column;
    border:3px solid rgb(107, 13, 52);
    width:23%;
    margin:5px;
    border-radius: 10px 10px 0 0 ;
}
#acti_c4
{
    display:flex;
    flex-direction:column;
    border:3px solid green;
    width:23%;
    margin:5px;
}
#acti_c4_l1
{
    border-radius: 10px 10px 0 0 ; 
    border:3px solid rgb(52, 4, 92);  
}
#acti_c4_l2
{
    border-radius: 10px 10px 0 0 ; 
    border:3px solid rgb(129, 66, 14);  
}

